@model Conference.Domain.Entities.Speakers

@{
    ViewData["Title"] = "Details";
}
<link  rel="stylesheet" href="~/css/styles/Speakers.css"/>



<div class="">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-md-2 offset-md-2 space-big space">

                <div>

                    @if (Model.FirstName == "Thissen")
                    {
                        <img class="img-responsive img-fluid" src="~/images/alex-thissen.png" alt="Alternate Text">
                    }
                    @if (Model.FirstName == "Mang")
                    {
                        <img class="img-responsive img-fluid" src="~/images/alex-mang.png" alt="Alternate Text" />
                    }
                    @if (Model.FirstName == "Doomen")
                    {
                        <img class="img-responsive img-fluid" src="~/images/dennis-doomen (2).png" alt="Alternate Text">
                    }


                </div>

            </div>
            <div class="col-xs-12 col-md-5 space-big space">
                <h1 class="title mv">@Html.DisplayFor(model => model.FullName)</h1>
                <h2 class="subtitle blue ">@Html.DisplayFor(model => model.Position)</h2>
                <span class="subtitle blue">
                    <a target="_blank" class="subtitle blue" href="@Html.DisplayFor(model => model.CompanyWebsite)">
                        @Html.DisplayFor(model => model.CompanyName)
                    </a>
                </span>

                <div class="speaker-socials blue">
                    <ul>
                        <li>
                            <a target="_blank" class="link d-inline" href="@Html.DisplayFor(model => model.Twitter)">
                                <img src="~/images/twitter_PNG3.png" width="30" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="text">
                    <ul class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </ul>
                    <a asp-action="Index" style="color: #6ec2e9">Back to List</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 bg-mv text-center space">


                <div class="talk-title white text-left">


                </div>

                <div style="height:15rem"></div>

            </div>
        </div>

    </div>
</div>
